{% extends "homebase.html" %}
{% load static %}
{% block title %}  Search Results {% endblock %}
{% block keywords %} {{ categorydata.keywords }}  {% endblock %}
{% block description %} {{ categorydata.description }}  {% endblock %}

{% block head %} <link rel="shortcut icon" href="{{ setting.icon.url }}"/> {% endblock %}


{% block slider %}
    {% include "slider.html" %}
{% endblock %}

{% block content %}
    <script>
        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });
        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }
    </script>
    <div class="site-section site-section-sm pb-0">
        <div class="container">
            <div class="row">
                <form class="form-search col-md-12" style="margin-top: -100px;" method="post" action="/search/">
                    {% csrf_token %}
                    <div class="row  align-items-end">
                        <div class="col-md-3">
                            <label for="offer-types">Kategoriler</label>
                            <div class="select-wrap">
                                <span class="icon icon-arrow_drop_down"></span>
                                {% load mptt_tags %}
                                <select name="catid"  class="form-control d-block rounded-0">
                                    <option value="0">Kategoriler</option>
                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                        {% endif %}
                                        {% if not node.is_leaf_node %}
                                            <optgroup label="{{ node.title }}">
                                                {{ children }}
                                            </optgroup>
                                        {% endif %}
                                    {% endrecursetree %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="list-types">Search</label>
                            <div class="select-wrap">
                                <input id="query" name="query" type="text" placeholder="Search">
                            </div>
                        </div>
                        <!--
                      <div class="col-md-3">
                        <label for="select-city">Select City</label>
                        <div class="select-wrap">
                          <span class="icon icon-arrow_drop_down"></span>
                          <select name="select-city" id="select-city" class="form-control d-block rounded-0">
                            <option value="">New York</option>
                            <option value="">Brooklyn</option>
                            <option value="">London</option>
                            <option value="">Japan</option>
                            <option value="">Philippines</option>
                          </select>
                        </div>
                      </div> -->
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
                        <div class="ml-auto d-flex align-items-center">
                            {% load mptt_tags %}
                            <tr>
                                {% recursetree category %}
                                    <th><a href="/category/{{ node.id }}/{{ node.slug }}" class="view-list px-3 border-right active">{{ node.title }}</a></th>
                                    {% if not node.is_leaf_node %}
                                        <th class="children"><a href="/category/{{ node.id }}/{{ node.slug }}" class="view-list px-3 border-right active">{{ children }}</a>
                                        </th>
                                    {% endif %}
                                {% endrecursetree %}
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section site-section-sm bg-light">
        <div class="container">
            {% for rs in products %}
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="property-entry horizontal d-lg-flex">
                            <a href="/property/{{ rs.id }}/{{ rs.slug }}" class="property-thumbnail h-100">
                                <div class="offer-type-wrap">
                                    <span class="offer-type bg-success">Rent</span>
                                </div>
                                <img src="{{ rs.image.url }}" alt="Image" class="img-fluid">
                            </a>
                            <div class="p-4 property-body">
                                <h2 class="property-title"><a href="#">{{ rs.title }}</a></h2>
                                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span>{{ rs.address }}</span>
                                <strong class="property-price text-primary mb-3 d-block text-success">{{ rs.price}}TL</strong>
                                <p> {{ rs.description }} </p>
                                <ul class="property-specs-wrap mb-3 mb-lg-0">
                                    <li>
                                        <span class="property-specs">Room</span>
                                        <span class="property-specs-number">{{ rs.room }} + 1</span>
                                    </li>
                                    <li>
                                        <span class="property-specs">Year</span>
                                        <span class="property-specs-number">{{ rs.year }}</span>
                                    </li>
                                    <li>
                                        <span class="property-specs">SQM</span>
                                        <span class="property-specs-number">{{ rs.sqm }}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}


            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="site-pagination">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <span>...</span>
                        <a href="#">10</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



