<div class="col-md-12 col-lg-6 mb-5">

    <ul class="site-menu js-clone-nav d-none d-lg-block">
        <li class="has-children">
                <a href="properties.html">Properties</a>
                  {% load mptt_tags %}
                <ul class="dropdown arrow-top">
                    {% recursetree category %}
                  <li><a href="#">{{ node.title }}</a></li>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                    {% endrecursetree %}

                </ul>
        </li>
</ul>
</div>